DTD/Futbol1.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2013 (http://www.altova.com)-->
<!ELEMENT Partido ((Estadio, Jugadores, Equipos, Espectadores, Dinero, Hora, Fotos))>
<!ATTLIST Partido
	n (9 | 8 | 7 | 6 | 5 | 4 | 3 | 2 | 10 | 1) #REQUIRED
>
<!ELEMENT Jugadores (#PCDATA)>
<!ELEMENT Hora (#PCDATA)>
<!ELEMENT Futbol ((Partido+))>
<!ELEMENT Fotos (#PCDATA)>
<!ELEMENT Estadio (#PCDATA)>
<!ELEMENT Espectadores (#PCDATA)>
<!ELEMENT Equipos (#PCDATA)>
<!ELEMENT Dinero (#PCDATA)>
