DTD/Santiago.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2013 (http://www.altova.com)-->
<!ELEMENT tag EMPTY>
<!ATTLIST tag
	k (wikipedia | wikidata | type | start_date | sport | source | name:it | name:he | name:es | name:en | name:ast | name:ar | name | leisure | capacity | building:material | building | addr:city) #REQUIRED
	v CDATA #REQUIRED
>
<!ELEMENT relation ((member+, tag+))>
<!ATTLIST relation
	changeset CDATA #FIXED "69860871"
	id CDATA #FIXED "1778978"
	timestamp CDATA #FIXED "2019-05-03T21:05:49Z"
	uid CDATA #FIXED "170106"
	user CDATA #FIXED "sanchi"
	version CDATA #FIXED "17"
	visible CDATA #FIXED "true"
>
<!ELEMENT osm ((relation))>
<!ATTLIST osm
	attribution CDATA #FIXED "http://www.openstreetmap.org/copyright"
	copyright CDATA #FIXED "OpenStreetMap and contributors"
	generator CDATA #FIXED "CGImap 0.8.2 (19693 thorn-03.openstreetmap.org)"
	license CDATA #FIXED "http://opendatacommons.org/licenses/odbl/1-0/"
	version CDATA #FIXED "0.6"
>
<!ELEMENT member EMPTY>
<!ATTLIST member
	ref (4346328 | 161172500) #REQUIRED
	role (outer | inner) #REQUIRED
	type CDATA #FIXED "way"
>
