DTD/SiteMap.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2013 (http://www.altova.com)-->
<!ELEMENT urlset ((url+))>
<!ATTLIST urlset
	xmlns CDATA #FIXED "http://www.sitemaps.org/schemas/sitemap/0.9"
	xmlns:xsi CDATA #FIXED "http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation CDATA #IMPLIED
>
<!ELEMENT url ((loc, lastmod, priority))>
<!ELEMENT priority (#PCDATA)>
<!ELEMENT loc (#PCDATA)>
<!ELEMENT lastmod (#PCDATA)>
